﻿<%@ Page Language="C#" Title="Регистрация" AutoEventWireup="true" MasterPageFile="~/Site.Master" CodeBehind="Registration.aspx.cs" Inherits="TwoWhales.Web.Registration" %>

<asp:Content ContentPlaceHolderID="HeadContentPlaceHolder" runat="server">

</asp:Content>

<asp:Content ContentPlaceHolderID="BodyContentPlaceHolder" runat="server">
    <asp:Label runat="server" Text="Фамилия Имя Отчество" Font-Bold="true" />
    <br />
    <asp:TextBox runat="server" />
    <br />
    <asp:Label runat="server" Text="Предпочитаемый ник" Font-Bold="true" />
    <br />
    <asp:TextBox runat="server" />
    <br />
    <asp:Label runat="server" Text="Электронная почта" Font-Bold="true" />
    <br />
    <asp:TextBox runat="server" />
    <br />
    <asp:Label runat="server" Text="Пароль" Font-Bold="true" />
    <br />
    <asp:TextBox runat="server" />
    <br />
    <asp:Label runat="server" Text="Подтверждение пароля" Font-Bold="true" />
    <br />
    <asp:TextBox runat="server" />
    <br />
    <asp:LinkButton runat="server" Text="Зарегистрироваться" />
    <br />
    <asp:LinkButton runat="server" Text="Не, передумал" />
</asp:Content>
