﻿#main_interface {
    position:absolute; 
    left:0; 
    top:0; 
    width:80%; 
    height:50%;

    border:1px groove black;
}

#authentification_menu {
    position:absolute; 
    left:80%; 
    top:0; 
    width:20%; 
    height:50%;

    border:1px groove black;
}

#tours {
    position:absolute; 
    left:0; 
    top:50%; 
    width:100%; 
    height:50%;

    border:1px groove black;
}

#welcome_label {
    text-align:center;
    font-weight:bold;
}

#aaa {
    margin:0 auto;
    text-align:center;
    width:80%;
}