﻿<%@ Page Language="C#" Title="Информация профиля" AutoEventWireup="true" MasterPageFile="~/Site.Master" CodeBehind="ChangingProfileData.aspx.cs" Inherits="TwoWhales.Web.Demonstration.Registration" %>

<asp:Content ContentPlaceHolderID="HeadContentPlaceHolder" runat="server">

</asp:Content>

<asp:Content ContentPlaceHolderID="BodyContentPlaceHolder" runat="server">
    <asp:Label runat="server" Text="Изменяемая таблица данных(имя, фамилия, прочее)" Font-Bold="true" />
    <br />
    <asp:GridView runat="server" ShowHeader="False">

    </asp:GridView>
</asp:Content>