﻿<%@ Page Language="C#" Title="Бронирование поездок" AutoEventWireup="true" MasterPageFile="~/Site.Master" CodeBehind="ReservingTours.aspx.cs" Inherits="TwoWhales.Web.Users.ReservingTours" %>

<asp:Content ContentPlaceHolderID="HeadContentPlaceHolder" runat="server">

</asp:Content>

<asp:Content ContentPlaceHolderID="BodyContentPlaceHolder" runat="server">
    <asp:Label runat="server" Text="Лист поездок с возможностью оформления брони" Font-Bold="true" />
    <br />
    <asp:GridView runat="server">

    </asp:GridView>
</asp:Content>
