﻿<%@ Page Language="C#" Title="Информация о поездках" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="ChangingToursData.aspx.cs" Inherits="TwoWhales.Web.Editors.ChangeToursData" %>

<asp:Content ContentPlaceHolderID="HeadContentPlaceHolder" runat="server">

</asp:Content>

<asp:Content ContentPlaceHolderID="BodyContentPlaceHolder" runat="server">
    <asp:Label runat="server" Text="Изменяемая таблица поездок" Font-Bold="true" />
    <br />
    <asp:GridView runat="server">

    </asp:GridView>
</asp:Content>
