﻿<%@ Page Language="C#" Title="Регистрация" AutoEventWireup="true" MasterPageFile="~/Site.Master" CodeBehind="ChangingUsersData.aspx.cs" Inherits="TwoWhales.Web.Administrators.ChangingUsersData" %>

<asp:Content ContentPlaceHolderID="HeadContentPlaceHolder" runat="server">

</asp:Content>

<asp:Content ContentPlaceHolderID="BodyContentPlaceHolder" runat="server">
    <asp:Label runat="server" Text="Изменяемая таблица данных пользователей" Font-Bold="true" />
    <br />
    <asp:GridView runat="server">

    </asp:GridView>
</asp:Content>
